[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
mediapipe = "*"
opencv-python = "*"
streamlit-webrtc = "*"
av = "*"
utils = "*"
numpy = "*"
opencv-python-headless = "*"
tensorflow = "*"

[dev-packages]

[requires]
python_version = "3.9"
