[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
opencv-python = "*"
mediapipe = "*"
tensorflow = "*"
openssl-python = "*"
seaborn = "*"
ipython = "*"
sklearn = "*"

[dev-packages]

[requires]
python_version = "3.9"
